  <!DOCTYPE html>
  <html>
    <head>
        <title>project1</title>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
        <div class="f-div">
            <h1>Calculator</h1>
            <form method="post">
                <input type="number" required placeholder="enter num1" name="num1">
                <select name="opr"required>
                    <option value="" disabled selected>select</option>
                    <option value="add">+</option>
                    <option value="sub">-</option>
                    <option value="mul">*</option>
                    <option value="div">/</option>
                </select>
                <input type="number" required placeholder="enter num2" name="num2">
                <button>calculate</button>
            </form>
        </div>
        <div class="output-div">
            {{output}}
        </div>
    </body>
  </html>